target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
CSharpTests/RestSharpTests/bin
CSharpTests/RestSharpTests/obj
CSharpTests/Selenium/obj
CSharpTests/Selenium/bin
CSharpTests/Playwright/bin
CSharpTests/Playwright/obj


### JS tests ###
JSTests/node_modules
JSTests/test-results

### PythonTests ###
PythonTests/Playwright/__pycache__
PythonTests/Requests/__pycache__
PythonTests/Selenium/__pycache__
PythonTests/UnitTests/__pycache__


### Mac OS ###
.DS_Store
/resources/
